<div ng-controller="AdminCtrl">
  <div class="container" style="margin-top: 80px">
    <div class="row">
      <div class="col-md-12">
        <h3>Add new product</h3>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <form name="productadd">
        <span>Name:</span>
        <input name="name" ng-model="product.name" class="form-control" valid-alpha-numeric/> <br/>
        <span>Price:</span>
        <input name="price" ng-model="product.price" class="form-control"  valid-number/> <br/> <br/>
        <button class="btn btn-success" ng-click="add()">Add product</button>
        </form>
      </div>
    </div>
  </div>
</div>