<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/bower_modules/jquery/dist/jquery.min.js"></script>
<script src="/assets/bower_modules/angular/angular.min.js"></script>
<script src="/assets/bower_modules/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/assets/bower_modules/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/assets/js/ivy.js"></script>
<script src="/assets/js/HomeCtrl.js"></script>
<script src="/assets/js/AdminCtrl.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/assets/bower_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>