<div ng-controller="HomeCtrl">
  <div class="container" style="margin-top: 80px">
    <div class="row">
      <div class="col-md-12">
        <h4>Logged in as: {{ user.fname + ' ' + user.lname }}</h4>
        <h3>Products:</h3>
        <div ng-repeat="product in products">
          {{ product.id }} -  {{ product.name }} - {{ product.price }} - {{ product.created }}
          <div ng-if="product.user != user.id">
            <button class="btn btn-xs btn-success" ng-click="add(product.id)">add</button>
          </div>
          <div ng-if="product.user == user.id">
            <button class="btn btn-xs btn-danger" ng-click="remove(product.id)">remove</button>
          </div>
        </div>
        <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="5" ng-change="pageChanged()"></uib-pagination>
      </div>
    </div>
  </div>
</div>